.navbar{
    padding:6px 10px;
    flex-direction: column;
    width: 100%;
    height: 10vh;
    justify-content:space-between;
}
.logo-title img{
    margin-right: 4px;
    width: 23px;
    height: 23px;
}
.logo-title h2{
    color:#fff;
    font-size: 16px;
}
.links ul{
    display: flex;
}
.links ul li{
    list-style: none;
}
.links ul li{
    padding:3px 6px;
}
.links ul li a{
    color:#fff;
    font-size: 12px;
    text-decoration: none;
}
.home{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    /* flex-direction: column; */
}
.home .left{
    width: 100%;
    font-size: 13px;
}
.home .left p{
    margin-top: 20px;
}
.home .middle{
    width: 100%;
}
.image img{
    margin-top: 10px;
    width: 95%;
    height: 95%;

}
.middle{
    padding:20px 40px;
    width: 100%;
    height: 100vh;
}
.middle-top p{
    font-size: 16px;
}
.middle-bottom{
    /* background-color: blueviolet; */
    width: 100%;
    height: 5vh;
    /* margin-left: 10px; */
}
.middle-bottom ul li{
    list-style: none;
}
.middle-bottom ul li a{
    color:#000;
    font-size: 13px;
    margin-right: 10px;
    text-decoration: none;
}
.comment{
    margin-top: 10px;
    margin-bottom: 20px;
 }
.comment input{
    padding:4px 10px;
    width: 95%;
    border:1px solid #000;
}
.home .right{
    width: 100%;
    height: 100vh;
    margin-top: 40px;

}